[Unit]
Description=Set DNS record for GoDaddy

[Service]
Type=oneshot
ExecStart=/usr/local/bin/godaddy_ddns.py %/etc/godaddy_ddns.conf

[Install]
WantedBy=network-online.target
